/* css selector{
    css property : value ;
} */


* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;


}

a {
    text-decoration: none;
    display: inline-block;
}

p {
    color: green;
}

.text-gray {
    color: dimgray;
}

#btn-rounded {
    color: blue;
}

button {
    color: red;
}

.card-lg {
    width: 40%;
    /* x-shadow , y-shadow , blur , spread , color */
    box-shadow: 0 0px 10px 2px gray;
    /* margin-right: 8%;
    margin-top: 8%;
    margin-left: 4%;
    margin-bottom: 10%; */
    /* margin: 3% 4% 4% 2%; */
    /* margin: 3% 4%; */
    margin: 2% 4% 3%;
    /* padding: 3%; */
    display: inline-block;
}

.w-100 {
    width: 100%;
}

.card-lg img {
    /* width: 100%; */
}

.card-body {
    padding: 5%;
}

body {
    margin: 0;
}

.card-body h3 {
    margin-bottom: 3%;
}

.card-body a {
    background-color: teal;
    color: white;
    padding: 5%;
    margin-top: 5%;
}

.custom-card{
    width: 30%;
    background-color: rgb(234, 234, 234);
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    /* height: 50px; */
    font-size: 22px;
    display: inline-block;

}
/* a - f , 0 - 9 */


/* display ==> none , block , inline , inline-block , flex  */