*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
.padding-top-bottom{
    padding: 4% 0%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    box-shadow: 0px 0px 4px 3px lightgrey ;
}
.card-body{
    padding: 2%;
}

.card img{
    width: 100%;
}

.card-transform{
    width: 40%;
    box-shadow: 0px 0px 4px 3px lightgray;
    background-color: teal;
    color: white;
    padding: 2%;
    transition-duration: 0.5s;
    /* transition-property: height; */
    height: 200px;
    /* transition ==> duration property timing-function delay  */
    /* timing-function ==> ease(default) , linear , ease-in , ease-out */
    /* transition : 3s linear width; */
    transition-delay: 5s;
}

.card-transform:hover{
    width: 100%;
    height: 500px;


}