*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
}
.padding-top-bottom{
    padding: 4% 0%;
}
.d-flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    box-shadow: 0px 0px 4px 3px lightgrey ;
    overflow: hidden;
}
.card-body{
    padding: 2%;
}

.card img{
    width: 100%;
    transition: 4s;
}

.card-transform{
    width: 40%;
    box-shadow: 0px 0px 4px 3px lightgray;
    background-color: teal;
    color: white;
    padding: 2%;
    transition-duration: 2s;
    /* transition-property: height; */
    height: 200px;
    /* transition ==> duration property timing-function delay  */
    /* timing-function ==> ease(default) , linear , ease-in , ease-out */
    /* transition : 3s linear width; */
    /* transition-delay: 5s; */
    /* transform: scaleX(0); */
}

.card-transform:hover{
    /* width: 100%;
    height: 500px; */

    transform: translateX(200px) ;
    transform: translateX(-200px) ;
    transform: translateY(300px);
    transform: translateY(-100%);
    transform: translate(50% , 100%);
    transform: rotate(50deg);
    transform: rotate(-50deg);
    transform: skewX(50deg);
    transform: skewX(-50deg);
    transform: skewY(50deg);
    transform: scaleX(1.5) ;
    /* transform: scaleX(0.5) ; */
    /* transform: scaleX(0) ; */
    transform: scaleY(1.5) ;
     /* matrix(scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()). */
    /* transform : matrix()==> search */

    transform: matrix(1.5 , 0 , 0.5 , 0.9 , 200 , 300);

    transform: rotate(20deg) translateX(100px);

}
/* .padding-top-bottom:hover .card-transform{
    transform: scaleX(1);
} */


.card:hover img{
    transform: scale(1.5) rotate(10deg);
}

.overflow-hidden{
    overflow: hidden;
}

.custom-hover:hover{
    display: none;
}

.custom-card{
    padding: 2%;
    border: 1px solid;
    display: inline-block;
    /* visibility: hidden; */
    opacity: 0;
}
.custom-card:hover{
    /* display: none; */
    /* visibility: hidden; */
    /* 0 : 1 */
    /* opacity: 0 ; */
}
.bg-light{
    background-color: lightgray;
}
.bg-gold{
    background-color: rgb(237, 196, 93);
}