/* Reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

/* global style */

.bg-light{
    background-color: rgb(234, 234, 234);
}
.text-white{
    color: white;
}
.text-light{
    color: #6e6c6c;
}

.container{
    width: 80%;
    margin: auto;
}

.padding-top-bottom{
    padding: 4% 0%;
}

.hr-orange{
     margin: 3% 0%;
    width: 30%;
    border: solid orange 2px; 
}
.d-inline-block{
    display: inline-block;
}
.icon-rounded{
        color: orange;
    font-size: 24px;
    border: 2px solid;
    /* padding: 0%; */
    width: 60px;
    height: 60px;
    line-height: 2.5;
    border-radius: 50%;
}

/* custom style */

/* border ==> style width color */

.bg-blue{
    background-color: lightblue;
}
.custom-border{
    border-left: 3px solid blue;
    border: 3px solid red;
}

.info{
    width: 40%;
}
