/* Reset style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul{
    list-style: none;
}

/* global style */

.container{
    width: 80%;
    margin: auto;
}
.bg-light{
    background-color: #e0dfdf;
}

.padding-top-bottom{
    padding: 4% 0%;
}

.bg-black{
    background-color: rgb(56, 56, 56);
}

.d-flex{
    display: flex;
    flex-wrap: wrap;
    /* flex-start (default) , flex-end , center , space-around , space-evenly  */
    justify-content: space-between;
    /* stretch (default) , flex-end , flex-start , center */
    align-items: center;
    /* flex-direction: row , row-reverse , column , column-reverse; */

}
.display-flex{
    display: flex;
    
}
.justify-content-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.text-white{
    color: white;
}

.btn-transparent{
    margin-top: 3%;
    font-size: 20px;
    padding: 1%;
    background-color: transparent;
    color: white;
    border: 2px solid;
    border-radius: 5px;
}
.btn-transparent:hover{
    background-color: white;
    color: black;
}
.hr-white{
        width: 10%;
    margin: 3% auto;
    border: 1px solid white;
}

/* custom style */
nav ul{
    
    width: 26%;
}
nav h1{
    font-size: 45px;
}
.card{
    background-color: white;
    width: 30%;
    padding: 2%;
}

.bg-img{
    background-image: url(../images/natural.jpg);
    /* cover , contain */
    background-size: 100% 150%;
    /* height: 400px; */
    color: white;
    text-align: center;

}

.overlay{
      background-color: rgba(0, 0, 0, 0.675);
      height: 100%;
}

hr{
    width: 20%;

}